{% macro report_form_field(field, index) %}
    {% if field.vars['name'] ==  'timePeriod' %}
        {# Time period field #}
        <div class="two fields">
        {% for sub_field in field %}
            {% if sub_field.vars.name == 'end' %}
                <div class="field">
                    {{ form_label(sub_field) }}
                    {{ form_widget(sub_field) }}

                    <div class="ui checkbox">
                        <input id="timePeriod_end_today" type="checkbox" tabindex="0"
                               class="hidden" {{ sub_field.vars.data is same as(null)?'checked':'' }}>
                        <label for="timePeriod_end_today">{{ 'odiseo_sylius_report_plugin.ui.today'|trans }}</label>
                    </div>
                </div>
            {% else %}
                {{ form_row(sub_field) }}
            {% endif %}

            {% if loop.index is divisible by(2) and not loop.last %}
                </div>
                <div class="two fields">
            {% endif %}
        {% endfor %}
        </div>
    {% elseif field.vars['name'] == 'dateRange' %}
        {# Date range field #}
        <div class="two fields">
        {% for sub_field in field %}
            {% if sub_field.vars.name == 'end' %}
                <div class="field">
                    {{ form_label(sub_field) }}
                    {{ form_widget(sub_field) }}
                </div>
            {% else %}
                {{ form_row(sub_field) }}
            {% endif %}

            {% if loop.index is divisible by(2) and not loop.last %}
                </div>
                <div class="two fields">
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        {# Default field #}
        <div class="field">
            {{ form_row(field) }}
        </div>
    {% endif %}

{% endmacro %}
